.zoom {
  padding: 0;
  border: none;
  background-color: transparent;
  overflow: visible;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: auto;
}

.zoom[open] {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s linear;
  display: flex;
}

.zoom::backdrop {
  background-color: rgba(0, 0, 0, 0.9)
}